


@font-face {
    font-family: 'cairoregular';
    src: url('/Assets/Font/cairo-variablefont_slntwght-webfont.woff2') format('woff2'),
         url('/Assets/Font/cairo-variablefont_slntwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'fira_sans_extra_condensedbold';
    src: url('/Assets/Font/firasansextracondensed-bold-webfont.woff2') format('woff2'),
         url('/Assets/Font/firasansextracondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'trironglight';
    src: url('/Assets/Font/trirong-light-webfont.woff2') format('woff2'),
         url('/Assets/Font/trirong-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'merriweatherregular';
    src: url('/Assets/Font/Roboto/roboto-regular-webfont.woff2') format('woff2'),
        url('/Assets/Font/Roboto/roboto-regular-webfont.woff') format('woff');
    
   font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotoregular';
    src:  url('/Assets/Font/Merriweather/merriweather-regular-webfont.woff2') format('woff2'),
    url('/Assets/Font/Merriweather/merriweather-regular-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
:root{
    --text: #e7f3f1;
    --background: #121212;
    --primary-button: #a125c4;
    --secondary-button: #1f0e25;
    --accent: #c88dd8;
    --part1:#0d0d0d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
.light-mode{
    --text: #050505;
    --background: #fafafa;
    --primary-button: #a125c4;
    --secondary-button: #ebdaf1;
    --accent: #a341be;
    --part1:#ecebeb;
}
    

body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    font-family: trironglight, serif;   
}


h1
{
    font-family: cairoregular, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}


h2{
    padding: 40px 20px;
    text-transform: uppercase;
    font-family: fira_sans_extra_condensedbold, sans-serif;
}
h3{
    font-family: fira_sans_extra_condensedbold, sans-serif;
    text-transform: uppercase;
}
h4
{
    font-family: fira_sans_extra_condensedbold, sans-serif;

    text-transform: uppercase;
}

/*********************Header******************/
#headMaster{
    margin: 0;
    padding: 20px 0;
    position: fixed;
    z-index: 5;
    width: 100%;
    transition: all.3s ease-in-out;
}
.headerContainer{
    position: relative;
    padding: 20px 20px;
    margin: 0 20px;
    background-color: var(--background);
    border: solid 1px var(--accent);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    
}
nav li{
    text-decoration: none;
    list-style: none;
    font-family: fira_sans_extra_condensedbold, sans-serif;
    text-transform: uppercase;
}
nav li a{
    position: relative;
    text-decoration:none;
    font-family: fira_sans_extra_condensedbold, sans-serif;
    text-transform: uppercase;
    color: var(--text);  
    transition: 0.5s ease-in-out;
}
nav li a::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--accent);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.75s;
    }

    nav li a:hover {
      color: var(--accent);
      
    }

    nav li a:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }

.btn-theme{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-color: var(--accent);
    align-items: center;
    background-color: var(--background);
    color:var(--text) ;
    padding: 2px 15px;
    font-family: fira_sans_extra_condensedbold, sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    transition: ease-in-out 0.1s;
    cursor: pointer;

}

.btn-theme:hover{
    transform: scale(1.05);
    background-color: var(--secondary-button);
}
.themeDark{
    display: none;
}
.themeDark.activated{
    display: block;
}
.themeLight.activated{
    display: none;
}

.burber {
    display: none ;
    }

    @media (max-width: 1000px) {

        .burber{
            display: block ;
            cursor: pointer;
            z-index: 5;
        }
        .miamburb{
            display: block;
            margin:5px auto;
            height: 3px;
            width: 40px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: var(--text);
            border: var(--text) solid 1px;
            border-radius: 15px;
        }

        .burber.transformed .miamburb:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        .burber.transformed .miamburb:nth-child(2){
            opacity: 0;
        }
        .burber.transformed .miamburb:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }

        .partieD{
            display: none;
        }

        .partieD.transformed{
            display: block;
            position: fixed;
            width: 100%;
            top: 100px;
            left: 0px;
            right:0px;

        }

        .partieD.transformed nav ul{
            margin: 0 20px;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--background);
            border-radius: 0 0 5px 5px;
            border:solid 1px var(--accent);
            border-top: none;
            
        }
    }
    



/***********All out warfare***********/
.blankspace{
    height: 120px;
    background-color: var(--part1);
}

.titleLocal{
    font-size:1.5em;
    text-align: center;
}

/***************Partie1: Présentation*****************/


.presentation{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerPresentation{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap: 50px;

}

.who{
    margin: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start
}

.myPic{
    max-width: 600px;
    display: flex;
    border-radius: 20% 0;
    

    
}
.myPic img{
    width: 100%;
    height:auto;
    border-radius: 20% 0;
    
    
}

  
/**************Partie 2: Travaux***************/
.works{
    min-height: 100vh;
    background-color: var(--part1);
}

.carousel{
    display: grid;
    place-items: center;
    overflow: hidden;
     
}

.slider{
    width: 100%;
    max-width: 450px;
    height: 500px;
    position: relative;
     /* overflow: hidden;  */
    
}

.slide {
    padding: 0 50px;
    width: 100%;
    height: 500px;
    position: absolute;
    transition: transform 0.5s;
    
}

.imgtest{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.slideButton{
    display: flex;
    padding: 20px 0;
    gap: 50px;
}


.btnCarousel {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: var(--accent);
    font-size: 18px;
}
  
.btnCarousel:active {
    transform: scale(1.1);
}
  




/**************Partie 3: Parcours***************/
.parcours{
    background-color: var(--background);
}

.timeline{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}
@media (max-width: 1180px) {
    .timeline{
        max-width: 900px; 
    }

    .timeContain::before{
      max-width: 250px;

    }


    @media (max-width: 950px){
        .timeline{
            max-width: 500px;
        }
        .timeContain::before{
            max-width: 150px;
          }

    }

}

.contentTime{
    padding-top: 250px;
	height:5000px;
	width:100%;
	background-color: rgba(110, 108, 108, 0);
    display: flex;
    justify-content: center;

}
.progressBar{
    position: relative;
    height:0px;
	width:20px;
	background: var(--accent);
	transition: 250ms;
}
.scrollmoica{
    text-align: center;
    position: absolute;
    top: 175px;
    z-index: 2;
}
.scrollIcons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#flotteur{
    animation: arrow-up-down 1s linear infinite alternate ;
    -moz-animation: arrow-up-down 1s linear infinite alternate ;
}
@keyframes arrow-up-down{
    from {
        transform: translateY(0px);
        }
    
    to {
        transform: translateY(10px);
        }

    
}
@-moz-keyframes arrow-up-down{
    from{
        transform: translateY(0px);
        }
    
    to {
        transform: translateY(10px);
        }

}


.timeContainer{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction:column;
    margin:250px 0;
    z-index: 2;

}

.timeContain{
    position: relative;
    display: flex ;
    flex-direction: column;
    margin: 250px 0;
    z-index: 3;
}

.apparition{
    
    transform: translateX(-20px);
    opacity: 0;
    transition: 0.8s all ease;
}

.apparition.active{
    transform: translateY(0);
    opacity: 1;
}

.time{
    display: flex ;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px;

}
.beforeTime{
    display:flex;
    justify-content: center;
    align-items: center;

}
.beforeTime.right::before{
    content: "";
    width: 80px;
    height: 5px;
    background-color: var(--accent);
    margin: 0 0 0 86px;
}
.beforeTime.left::before{
    content: "";
    width: 80px;
    height: 5px;
    background-color: var(--accent);
    margin: 0 86px 0 0 ;
}

.time.right{
    margin: 0 0 0 60%;
    background-color: var(--primary-button);
}
.time.left{
    margin: 0 60% 0 0;
    background-color: var(--secondary-button);
}



/*** https://codepen.io/htmlcodex/pen/LYGjPgV  ***/



/***************Partie 4: Compétences****************/
.skills{
    padding-bottom: 50px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    background-color: var(--part1);
}

.maxiContainer{
    inline-size: min(100%,70rem);
    margin: auto;
}
.containerStack{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
}
.wrapStack{
    height: 250px;
}

.myStack{
    height: 12.5rem;
    width: 12.5rem;
    /* background-color: var(--accent); */
    border-radius: 50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.myStack img {
    height: 8rem;
    width: 8rem;
    /* filter: invert(1); */
}


.containerSkills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}
.wrapSkill{
    height: 250px;
}

.mySkill{
    height: 12.5rem;
    width: 12.5rem;
    /* background-color: var(--accent); */
    border-radius: 50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mySkill img {
    height: 8rem;
    width: 8rem;
    /* filter: invert(1); */
}
/* .wrapFrame{
    position: absolute;
    bottom:0;
    z-index: 1;
    width: 100%;
    
}


.wrapFrame ol li{
    transition: ease 0.5s;
    opacity: 0;
}
.wrapFrame.isToggled ol li:nth-child(1){
    opacity: 1;
    transition-delay: 0.25s ;
    transform: translateY(-850%) rotate(360deg);;
}
.wrapFrame.isToggled ol li:nth-child(2){
    opacity: 1;
    transition-delay: 0.5s ;
    transform: translateY(0%) translateX(-50%) rotate(-360deg);
}
.wrapFrame.isToggled ol li:nth-child(3){
    opacity: 1;
    transition-delay: 0.75 ;
    transform:  translateY(-100%) translateX(50%)rotate(360deg) ;
} */



/* 
.framework{
    text-align: center;
    list-style: none;
    color: #000;
    background-color: #f8f8f8;
    border: 1px solid #e20000;
}
 */

/******twitch****/
.twitch{
    min-height: 100dvb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#SamplePlayerDivID{
    width: 100%;
}


/*******footer*****/

footer{
    background-color: var(--part1);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containFoot{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:1px solid var(--accent);

    
}
.contactFoot{
    background-color: #af1d1d;
    height: 100px;
    width: 100px;
}
.reseauxFoot{
    display: flex;
    justify-content: space-around;
    width: 250px;
}
.iconFoot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.iconFoot img{
    height: 40px;
    width: 40px;
    transition: all 0.2s;
}
.iconFoot img:hover{
    scale: 1.1;
}